NEXT_PUBLIC_SUPABASE_URL=https://coyrlfrwjbhidlxjlzxc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9GYyE8Q4Jlz_sNh4ozIa4g_6dP6HYWl
MTN_COLLECTION_SUBSCRIPTION_KEY=612f613b20f14ed0bd2e763ee0e104c8
MTN_COLLECTION_USER_ID=49adf4c9-4941-4192-b400-e45fd86fe2e4
MTN_COLLECTION_API_KEY=4c2f2c6c097b423e8dd14604a92e318e
